<div>
    <div class="row text-center" style="margin: 40px 20% 0 20%;">
        <div class="d-none d-lg-block col-3">
            <a class="opciones" href="#">Beneficios</a>
        </div>
        <div class="d-none d-lg-block col-3">
            <a class="opciones" href="#">Costos</a>
        </div>
        <div class="d-none d-lg-block col-3">
            <a class="opciones" href="#">Preguntas frecuentes</a>
        </div>
        <div class="d-none d-lg-block col-3">
            <a class="opciones" href="#">Términos y condiciones</a>
        </div>
        <div class="col-12" style="margin: 30px 0 40px 0;">
            <p class="copyright">Copyright 2020 GO BICE. Una iniciativa de  <img style="height: 20px;" src="assets/img/Logo.png"></p>
        </div>
    </div>
</div>