p{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.19px;
}


.copyright{
   
    color: #8F8F8F;
}

.opciones{
    color: #434A54;
}