<!--Usa tu cuenta para-->
<div id="usa-tu-cuenta" class="container-fluid">
    <div class="container">

        <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12">
                <h2>Usa tu cuenta Go BICE para todo lo que necesitas</h2>
            </div>

            <div class="offset-4 col-lg-4 col-md-12 col-sm-12">

                <div class="card horizontal">
                    <dl>
                        <dt><img
                                src="https://image.info.bice.cl/lib/fe8e13727c660d7c76/m/5/ac4dc477-e121-498e-94a1-ff694889fedd.png">
                        </dt>
                        <dd>
                            <h4>Todo desde tu celular</h4>
                            <p>Sin trámites ni papeleos</p>
                        </dd>
                    </dl>
                </div>

                <div class="card horizontal">
                    <dl>
                        <dt><img
                                src="https://image.info.bice.cl/lib/fe8e13727c660d7c76/m/5/ac4dc477-e121-498e-94a1-ff694889fedd.png">
                        </dt>
                        <dd>
                            <h4>Obtén tu tarjeta física</h4>
                            <p>Tus compras en Chile y en el extranjero no tienen comisión</p>
                        </dd>
                    </dl>
                </div>

                <div class="card horizontal">
                    <dl>
                        <dt><img
                                src="https://image.info.bice.cl/lib/fe8e13727c660d7c76/m/5/ac4dc477-e121-498e-94a1-ff694889fedd.png">
                        </dt>
                        <dd>
                            <h4>Transfiere a tus amigos</h4>
                            <p>Gratis y para siempre, no importa el banco de destino</p>
                        </dd>
                    </dl>
                </div>


            </div>

        </div>

    </div>
</div>
<!--Fin usa tu cuenta para-->
