<div class="tarifas-container" id="beneficios">
    <div class="row" style="margin-bottom: 80px;">
        <div class="col-12 text-center">
            <h2>
                BENEFICIOS
            </h2>
        
            <h1>
                Realiza tus compras y <br> suscripciones sin comisión
            </h1>
        </div>
    </div>

    <div class="row">
        <!-- <div class="col-12 col-lg-4 col-xl-4 col-md-4 col-sm-12">
            <div class="col-12">
                <div class="row tarjeta">
                    <div class="col-4 col-lg-4 col-xl-4 col-md-4 col-sm-4">
                        <img src="assets/img/celular.svg">
                    </div>
                    <div class="col-8 col-lg-8 col-xl-8 col-md-8 col-sm-8">
                        <p class="title">Todo desde tu celular</p>
                        <p class="sub-title">Sin trámites ni papeleos</p>
                    </div>
                </div>

                <div class="row tarjeta">
                    <div class="col-4 col-lg-4 col-xl-4 col-md-4 col-sm-4">
                        <img src="assets/img/otarjeta.svg">
                    </div>
                    <div class="col-8 col-lg-8 col-xl-8 col-md-8 col-sm-8">
                        <p class="title">Obtén tu tarjeta física</p>
                        <p class="sub-title">Tus compras en Chile y en el extranjero no tienen comisión</p>
                    </div>
                </div>

                <div class="row tarjeta">
                    <div class="col-4 col-lg-4 col-xl-4 col-md-4 col-sm-4">
                        <img src="assets/img/transfiere.svg">
                    </div>
                    <div class="col-8 col-lg-8 col-xl-8 col-md-8 col-sm-8">
                        <p class="title">Transfiere a tus amigos</p>
                        <p class="sub-title">Gratis y para siempre, no importa el banco de destino</p>
                    </div>
                </div>
            </div>
        </div>-->

        <div class="col-12 col-lg-12 col-xl-12 col-md-12 col-sm-12 px-5" >
            <!--<div class="text-center" style="margin-bottom: 40px;">
                <p class="title">Realiza tus compras y suscripciones sin comisión</p> 
            </div>-->

            <div class="row text-center" style="padding: 0px 5%;">
                <div class="col-6 col-lg-4 col-xl-4 col-md-6 col-sm-6 marcas">
                    <img style="width: 88px;" src="assets/img/bene1.jpg">
                    <p class="txtBeneficios">Uber, Cabiby, Didi</p>
                </div>
        
                <div class="col-6 col-lg-4 col-xl-4 col-md-6 col-sm-6 marcas">
                    <img style="width: 88px;" src="assets/img/bene2.jpg">
                    <p class="txtBeneficios">Rappi, Uber eats</p>
                </div>
        
                <div class="col-6 col-lg-4 col-xl-4 col-md-6 col-sm-6 marcas">
                    <img style="width: 88px;" src="assets/img/bene3.jpg">
                    <p class="txtBeneficios">Netflix, HBO Go, Amazon Prime</p>
                </div>
        
                <div class="offset-2 col-6 col-lg-4 col-xl-4 col-md-6 col-sm-6 marcas text-center">
                    <img style="width: 88px;" src="assets/img/bene4.jpg">
                    <p class="txtBeneficios">Spotify, Apple Music</p>
                </div>
        
                <div class="col-12 col-lg-4 col-xl-4 col-md-12 col-sm-12 marcas text-center">
                    <img style="width: 88px;" src="assets/img/bene5.jpg">
                    <p class="txtBeneficios">Amazon, Aliexpress, Ebay</p>
                </div>
                
               
            </div>
        

        </div>
    </div>
        
</div>