<div class="tarifas-container">
    <div class="row" style="margin-bottom: 80px;">
        <div class="col-12 text-center">
            <h2>
                BENEFICIOS
            </h2>
        
            <h1>
                Usa tu cuenta GO BICE para<br> todo lo que necesitas
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-lg-4 col-xl-4 col-md-4 col-sm-12">
            <div class="col-12">
                <div class="row tarjeta">
                    <div class="col-4 col-lg-4 col-xl-4 col-md-12 col-sm-12">
                        <img src="assets/img/celular.svg">
                    </div>
                    <div class="col-8 col-lg-8 col-xl-8 col-md-12 col-sm-12">
                        <p class="title">Todo desde tu celular</p>
                        <p class="sub-title">Sin trámites ni papeleos</p>
                    </div>
                </div>

                <div class="row tarjeta">
                    <div class="col-4 col-lg-4 col-xl-4 col-md-12 col-sm-12">
                        <img src="assets/img/otarjeta.svg">
                    </div>
                    <div class="col-8 col-lg-8 col-xl-8 col-md-12 col-sm-12">
                        <p class="title">Obtén tu tarjeta física</p>
                        <p class="sub-title">Tus compras en Chile y en el extranjero no tienen comisión</p>
                    </div>
                </div>

                <div class="row tarjeta">
                    <div class="col-4 col-lg-4 col-xl-4 col-md-12 col-sm-12">
                        <img src="assets/img/transfiere.svg">
                    </div>
                    <div class="col-8 col-lg-8 col-xl-8 col-md-12 col-sm-12">
                        <p class="title">Transfiere a tus amigos</p>
                        <p class="sub-title">Gratis y para siempre, no importa el banco de destino</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-lg-8 col-xl-8 col-md-8 col-sm-12">
            <div class="text-center" style="margin-bottom: 40px;">
                <p class="title">Realiza tus compras y suscripciones sin comisión</p> 
            </div>

            <div class="row text-center">
                <div class="col-12 col-lg-12 col-xl-6 col-md-12 col-sm-12 marcas">
                    <img src="assets/img/uber.svg">
                </div>
        
                <div class="col-12 col-lg-12 col-xl-6 col-md-12 col-sm-12 marcas">
                    <img src="assets/img/NETFLIX.svg">
                </div>
        
                <div class="col-12 col-lg-12 col-xl-6 col-md-12 col-sm-12 marcas">
                    <img src="assets/img/Amazon.svg">
                </div>
        
                <div class="col-12 col-lg-12 col-xl-6 col-md-12 col-sm-12 marcas">
                    <img src="assets/img/Group.svg">
                </div>
        
                <div class="col-12 col-lg-12 col-xl-6 col-md-12 col-sm-12 marcas">
                    <img src="assets/img/Spotify.svg">
                </div>
                
                <div class="col-12 col-lg-12 col-xl-6 col-md-12 col-sm-12 marcas">
                    <img src="assets/img/Aliexpress.svg">
                </div>
            </div>
        

        </div>
    </div>
        
</div>