<div class="preguntas-container" id="preguntasFrecuentes">
    <div class="row">

        <div class="col-12 text-center">
            <h2>PREGUNTAS FRECUENTES</h2>
            <h1>Resolvamos algunas dudas</h1>
        </div>

        <div class="row justify-content-center mt-5">

            <div class="col-md-6 d-none d-sm-none d-md-flex nopadding">
                <!--<img src=" assets/img/brand.png " style="position: absolute; width: 632px;height: 601px; " />-->
                <img src=" assets/img/brand.png " style="max-width: 100%;" />
            </div>

            <div class="col-md-6">
                <mat-accordion [multi]="false">
                    <mat-expansion-panel [expanded]="true">
                        <mat-expansion-panel-header>
                            <mat-panel-title class="title">
                                ¿Qué es GO BICE?
                            </mat-panel-title>
                        </mat-expansion-panel-header>

                        <p class="sub-title">
                            La cuenta Go BICE es una cuenta vista con tarjeta de débito, que puede recibir abonos y transferencias desde cualquier banco, con la cual se puede girar y comprar en Chile y en el exterior, además de transferir en forma electrónica.
                        </p>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title class="title">
                                ¿Qué es una cuenta vista?
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p class="sub-title">
                            Es una cuenta que permite realizar compras, transferencias electrónicas y depositar dinero para girarlo después mediante un cajero automático.
                        </p>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title class="title">
                                ¿Cuáles son los requisitos?
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p class="sub-title">
                            Debes ser mayor de 18 años, estudiante universitario, acreditar domicilio y tener un número móvil.
                        </p>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title class="title">
                                ¿Cómo la obtengo?
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p class="sub-title">
                            Para obtenerla debes realizar el enrolamiento a través de tu teléfono celular.
                        </p>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title class="title">
                                ¿Cómo la uso?
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p class="sub-title">
                            La podrás utilizar desde la App Banco BICE; también la podrás utilizar a través de tu tarjeta física para compras presenciales nacionales e internacionales y en e-commerce. ¡Recuerda descargar tu BICE pass para transaccionar de forma segura!
                        </p>
                    </mat-expansion-panel>

                </mat-accordion>
            </div>

            <div class="col-md-6 d-block d-sm-block d-md-none">
                <img src=" assets/img/brand.png " style="width: 100%;" />
            </div>

        </div>

    </div>
</div>