.cliente-container{
    //position: absolute;
    background: #FFFFFF;
    background-image: url("/assets/img/background.png");
    background-size: 100% 100%;

   
    
  }

.texto{
    //display: flex;
    align-items: center;
}

.titulo{
    font-style: normal;
    font-weight: 600;
    //font-size: 48px;
    //line-height: 56px;
    font-size: 33px;
    line-height: 37px;
    color: #FFFFFF;
    padding-top: 100px;
}

.subTitulo{
    font-style: normal;
    font-weight: 600;
    //font-size: 48px;
    //line-height: 56px;
    font-size: 13px;
    line-height: 30px;
    color: #FFFFFF;
    padding-top: 20px;
}


.btn {
    border-radius: 8px;
    background: #F5F7FA;
    color: black;
    border: 1px solid #FFFFFF;
    font-size: 21px;
    width: 100%;
    max-width: 203px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.30);
    //padding: 8px 48px;

    font-weight: 300;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    color: #1976D2;
    
    
  }

  .imagen{
    padding-top: 50px;

  }
     
  @media (min-width: 576px) {
    .row{
        margin-left: 5% !important;
        margin-right: 5% !important;
    }
 
  }
  @media (max-width: 575px) {
    .cliente-container{
        padding-bottom: 87px;
    }
    .row{
        margin-left: 1% !important;
        margin-right: 1% !important;
    }
   
  }