<div class="cliente-container">
    <div class="row">


        <div class="row justify-content-center mt-5">

            <div class="col-md-6 nopadding texto">
                <p class="titulo"> Independízate y maneja tus lucas con tu primera cuenta BICE </p>
                <p class="subTitulo">Obténla en 5 minutos de forma 100% digital</p>
                <div class="mt-4">
                    <!--
                    <div class="d-none d-sm-none d-md-flex">

                        <button onclick="window.location.href={url}" type="button" class="btn">Hazte cliente</button>
                    </div>
                    <div class="d-block d-sm-block d-md-none">
                        <button onclick="window.location.href='#creaCliente'" type="button" class="btn">Hazte cliente</button>
                    </div>
                    -->
                    <a class="btn btn-primary" href="{{url}}" style="background-color: #1976D2;" style="text-decoration: none;">Hazte cliente</a>

                </div>
            </div>

            <div class="col-md-6 imagen">

                <img src=" assets/img/image_header.png " style="max-width: 100%;" />
            </div>

            <!--
            <div class="col-md-6 d-block d-sm-block d-md-none">
                <img src=" assets/img/brand.png " style="width: 100%;" />
            </div>-->

        </div>



    </div>
</div>