<div class="cliente-container">
    <div class="row">


        <div class="row justify-content-center mt-5">

            <div class="col-md-6 nopadding texto">
                <p class="titulo"> Independízate y maneja tus lucas con tu primera cuenta BICE </p>
                <br>
                <p class="subTitulo">Inscríbete en el Early Bird y serás de los primeros en tenerla</p>
                <div class="mt-4">
                    <!--
                    <div class="d-none d-sm-none d-md-flex">

                        <button onclick="window.location.href={url}" type="button" class="btn">Hazte cliente</button>
                    </div>
                    <div class="d-block d-sm-block d-md-none">
                        <button onclick="window.location.href='#creaCliente'" type="button" class="btn">Hazte cliente</button>
                    </div>
                    -->
                    <div>
                        <label for="rut">Rut</label>
                        <input type="text" name="rut" data-field-type="Text" required="required" data-validation-message="Ingrese un rut." placeholder="19.243.456-2" style="margin-bottom:10px;">
                    </div>

                    <div>
                        <label for="rut">Email</label>
                        <input type="text" name="email" data-field-type="Text" required="required" data-validation-message="Ingrese un email." placeholder="ejemplo@ejemplo.cl" style="margin-bottom:10px;">
                    </div>

                    <div>
                        <button class="btn btn-primary" style="min-width: 100%;margin-top: 45px;">Enviar</button>
                        <!--<a *ngIf="!enviroment" class="btn btn-primary" href="{{url}}" style="background-color: #1976D2;" style="text-decoration: none;">Hazte cliente</a>-->
                    </div>
                    

                </div>
            </div>

            <div class="col-md-6 imagen">

                <img src=" assets/img/image_header.png " style="max-width: 100%;" />
            </div>

            <!--
            <div class="col-md-6 d-block d-sm-block d-md-none">
                <img src=" assets/img/brand.png " style="width: 100%;" />
            </div>-->

        </div>



    </div>
</div>